@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-size: 16px; */
  user-select: none;
  -webkit-user-drag: none;
  list-style: none;
}

:root {
  /* background */
  --main-bg: #fefefe;
  --header-bg: #fefefeD0;
  --bg-pos: right;

  /* accent */
  --accent: #2086e3;
  --accent-muted: #94c5f2;

  /* text */
  --title: #333333;
  --text: #999999;
  --project-marker-text: #6e6e6e;
  --menu-marker-text: #515151;
  --link-text: #2086e3;

  /* markers */
  --project-marker: #eaeaea;
  --menu-marker: #cfcfcf;

  /* opentowork */
  --otw-bg: #bdedca80;
  --otw-text: #3aa757;

  /* profile */
  --profile-pic-bg: #dceaef;
  --header-border-color: #efefef;

  /* switch */
  --bg-switch-pill: #fafafa;

  /* menu */
  --bg-menu: #ffffff40;

  /* card */
  --card-bg: #f4f4f4;
}

[data-theme="dark"] {
  /* background */
  --main-bg: #111;
  --header-bg: #121212d9;
  --bg-pos: left;

  /* accent */
  --accent: #0665bb;
  --accent-muted: #3a6d95;

  /* text */
  --title: #e8e8e8;
  --text: #898989;
  --menu-marker-text: #cfcfcf;
  --project-marker-text: #8c8c8c;
  --link-text: #004b8f;

  /* markers */
  --project-marker: #202020;
  --menu-marker: #515151;

  /* opentowork */
  --otw-bg: #23332872;
  --otw-text: #3aa757;

  /* profile */
  /* --profile-pic-bg: #20363d; */

  /* borders */
  --header-border-color: #212121;

  /* switch */
  --bg-switch-pill: #3d3d3d;

  /* menu */
  --bg-menu: #111111bf;

  /* card */
  --card-bg: #232323;
}

@media (max-width: 768px) {
  * {
    font-size: 12px;
  }
}

body {
  color: var(--text);
  background-color: var(--main-bg);
}

h1 {
  @apply text-[2.5rem] md:text-[3.25rem] font-bold leading-[120%] tracking-[-0.05em];
}

h2 {
  @apply text-[2rem] md:text-5xl font-bold leading-[130%] tracking-[-0.04em];
}

h3 {
  @apply text-[1.8rem] md:text-4xl font-semibold leading-[120%] tracking-[-0.04em];
}

h4 {
  @apply text-[1.8rem] md:text-[32px] font-medium leading-[130%] tracking-[-0.04em];
}

h5 {
  @apply text-[1.4rem] md:text-[24px] font-medium leading-[130%] tracking-[-0.04em];
}

h6 {
  @apply text-[1.2rem] md:text-[20px] font-medium leading-[130%] tracking-[-0.04em];
}

p {
  @apply text-base font-medium tracking-[-0.04em];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* pseudoelements */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #8080802b;
  border-radius: 10px;
  border: 2px solid var(--main-bg);
  box-sizing: border-box;
}

@media print {
  @layer base {
    * {
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
    }

    .fixed {
      position: static;
    }

    .absolute {
      position: static;
    }

    .bg-gradient-to-b {
      background: none;
    }
  }
}
