@import "tailwindcss";

* {
  /* font-size: 16px; */
  user-select: none;
  -webkit-user-drag: none;
  list-style: none;
}

@theme {
  --color-main-bg: var(--main-bg);
  --color-accent: var(--accent);
  --color-accent-muted: var(--accent-muted);
  --color-title: var(--title);
  --color-text: var(--text);
  --colorproject-marker-text: var(--project-marker-text);
  --color-menu-marker-text: var(--menu-marker-text);
  --color-link-text: var(--link-text);
  --color-project-marker: var(--project-marker);
  --color-menu-marker: var(--menu-marker);
  --color-otw-bg: var(--otw-bg);
  --color-otw-text: var(--otw-text);
  --color-profile-pic-bg: var(--profile-pic-bg);
  --color-header-border-color: var(--header-border-color);
  --color-bg-switch-pill: var(--bg-switch-pill);
  --color-header-bg: var(--header-bg);
  --color-menu-bg: var(--bg-menu);
  --color-card-bg: var(--card-bg);
  --shadow-icon: 0px 8px 24px -4px rgb(0 0 0 / 0.2),
    0px 4px 8px -2px rgb(0 0 0 / 0.1);
  --shadow-window: 0px 14px 16px rgb(0 0 0 / 0.1), 0 0 1px rgb(0 0 0 / 0.1);
  --drop-shadow-window: 0px 14px 16px rgb(0 0 0 / 0.1),
    0px 0px 1px rgb(0 0 0 / 0.1);
  --animate-cursorPointer: cursorPointer 1s infinite;
  --animate-windowOpen: windowOpen 150ms ease-in-out;
}

:root {
  /* background */
  --main-bg: #fefefe;
  --header-bg: #fafafa;
  --bg-pos: top;

  /* accent */
  --accent: #2086e3;
  --accent-muted: #94c5f2;

  /* text */
  --title: #333333;
  --text: #999999;
  --project-marker-text: #6e6e6e;
  --menu-marker-text: #515151;
  --link-text: #2086e3;

  /* markers */
  --project-marker: #eaeaea;
  --menu-marker: #cfcfcf;

  /* opentowork */
  --otw-bg: #bdedca80;
  --otw-text: #3aa757;

  /* profile */
  --profile-pic-bg: #dceaef;
  --header-border-color: #efefef;

  /* switch */
  --bg-switch-pill: #fafafa;

  /* menu */
  --bg-menu: #ffffff40;

  /* card */
  --card-bg: #f4f4f4;
}

[data-theme="dark"] {
  /* background */
  --main-bg: #121212;
  --header-bg: #161616;
  --bg-pos: top left;

  /* accent */
  --accent: #2086e3;
  --accent-muted: #3a6d95;

  /* text */
  --title: #e8e8e8;
  --text: #898989;
  --menu-marker-text: #cfcfcf;
  --project-marker-text: #8c8c8c;
  --link-text: #004b8f;

  /* markers */
  --project-marker: #202020;
  --menu-marker: #515151;

  /* opentowork */
  --otw-bg: #23332872;
  --otw-text: #3aa757;

  /* profile */
  /* --profile-pic-bg: #20363d; */

  /* borders */
  --header-border-color: #212121;

  /* switch */
  --bg-switch-pill: #3d3d3d;

  /* menu */
  --bg-menu: #111111bf;

  /* card */
  --card-bg: #232323;
}

@media (max-width: 768px) {
}

body {
  color: var(--text);
  background-color: var(--main-bg);
}

h1 {
  /* @apply text-[2.5rem] md:text-[3.25rem] font-bold leading-[120%] tracking-[-0.03em]; */
  @apply text-[2.5rem] md:text-5xl font-bold tracking-[-0.01em];
}

h2 {
  /* @apply text-[2rem] md:text-5xl font-bold tracking-[-0.03em]; */
  @apply text-[2rem] md:text-4xl font-bold tracking-[-0.01em];
}

h3 {
  /* @apply text-[1.8rem] md:text-4xl font-semibold leading-[120%] tracking-[-0.03em]; */
  @apply text-[1.8rem] md:text-3xl font-semibold tracking-[-0.01em];
}

h4 {
  /* @apply text-[1.8rem] md:text-[32px] font-medium tracking-[-0.03em]; */
  @apply text-[1.8rem] md:text-2xl font-semibold tracking-[-0.01em];
}

h5 {
  /* @apply text-[1.4rem] md:text-[24px] font-medium tracking-[-0.03em]; */
  @apply text-[1.4rem] md:text-xl font-medium tracking-[-0.01em];
}

h6 {
  /* @apply text-[1.2rem] md:text-[20px] font-medium tracking-[-0.03em]; */
  @apply text-[1.2rem] md:text-lg font-medium tracking-[-0.01em];
}

p {
  /* @apply text-base font-medium tracking-[-0.04em]; */
  @apply tracking-[-0.01em];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .aalt {
    font-feature-settings: "aalt" 1;
  }

  .c2sc {
    font-feature-settings: "c2sc" 1;
  }

  .calt {
    font-feature-settings: "calt" 1;
  }

  .case {
    font-feature-settings: "case" 1;
  }

  .ccmp {
    font-feature-settings: "ccmp" 1;
  }

  .cpsp {
    font-feature-settings: "cpsp" 1;
  }

  .cv01 {
    font-feature-settings: "cv01" 1;
  }

  .cv02 {
    font-feature-settings: "cv02" 1;
  }

  .cv03 {
    font-feature-settings: "cv03" 1;
  }

  .cv04 {
    font-feature-settings: "cv04" 1;
  }

  .cv05 {
    font-feature-settings: "cv05" 1;
  }

  .cv06 {
    font-feature-settings: "cv06" 1;
  }

  .cv07 {
    font-feature-settings: "cv07" 1;
  }

  .cv08 {
    font-feature-settings: "cv08" 1;
  }

  .cv09 {
    font-feature-settings: "cv09" 1;
  }

  .cv10 {
    font-feature-settings: "cv10" 1;
  }

  .cv11 {
    font-feature-settings: "cv11" 1;
  }

  .cv12 {
    font-feature-settings: "cv12" 1;
  }

  .cv13 {
    font-feature-settings: "cv13" 1;
  }

  .dlig {
    font-feature-settings: "dlig" 1;
  }

  .dnom {
    font-feature-settings: "dnom" 1;
  }

  .frac {
    font-feature-settings: "frac" 1;
  }

  .locl {
    font-feature-settings: "locl" 1;
  }

  .numr {
    font-feature-settings: "numr" 1;
  }

  .ordn {
    font-feature-settings: "ordn" 1;
  }

  .pnum {
    font-feature-settings: "pnum" 1;
  }

  .salt {
    font-feature-settings: "salt" 1;
  }

  .sinf {
    font-feature-settings: "sinf" 1;
  }

  .ss01 {
    font-feature-settings: "ss01" 1;
  }

  .ss02 {
    font-feature-settings: "ss02" 1;
  }

  .ss03 {
    font-feature-settings: "ss03" 1;
  }

  .ss04 {
    font-feature-settings: "ss04" 1;
  }

  .ss05 {
    font-feature-settings: "ss05" 1;
  }

  .ss06 {
    font-feature-settings: "ss06" 1;
  }

  .ss07 {
    font-feature-settings: "ss07" 1;
  }

  .ss08 {
    font-feature-settings: "ss08" 1;
  }

  .subs {
    font-feature-settings: "subs" 1;
  }

  .sups {
    font-feature-settings: "sups" 1;
  }

  .tnum {
    font-feature-settings: "tnum" 1;
  }

  .zero {
    font-feature-settings: "zero" 1;
  }
}

.gradient__blur__parent {
  height: 158px;
}
.gradient__blur__parent__reverse {
  height: 96px;
}

.gradient__blur__child,
.gradient__blur__child__reverse {
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.gradient__blur__child {
  top: 0;
  left: 0;
}

.gradient__blur__child:nth-of-type(1) {
  content: "";
  z-index: 1;
  backdrop-filter: blur(64px);
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 52%);
}
.gradient__blur__child:nth-of-type(2) {
  content: "";
  z-index: 2;
  backdrop-filter: blur(32px);
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
}
.gradient__blur__child:nth-of-type(3) {
  content: "";
  z-index: 3;
  backdrop-filter: blur(12px);
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 75%);
}
.gradient__blur__child:nth-of-type(4) {
  content: "";
  z-index: 4;
  backdrop-filter: blur(8px);
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.gradient__blur__child__reverse {
  bottom: 0;
  left: 0;
}

.gradient__blur__child__reverse:nth-of-type(4) {
  content: "";
  z-index: 1;
  backdrop-filter: blur(2px);
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%);
}
.gradient__blur__child__reverse:nth-of-type(3) {
  content: "";
  z-index: 2;
  backdrop-filter: blur(2px);
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 52%);
}
.gradient__blur__child__reverse:nth-of-type(2) {
  content: "";
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 75%);
}
.gradient__blur__child__reverse:nth-of-type(1) {
  content: "";
  z-index: 4;
  backdrop-filter: blur(6px);
  mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

/* pseudoelements */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #8080802b;
  border-radius: 10px;
  border: 2px solid var(--main-bg);
  box-sizing: border-box;
}

@keyframes cursorPointer {
  0%,
  100% {
    width: 1.5rem;
    height: 1.5rem;
  }

  50% {
    width: 0.5rem;
    height: 0.5rem;
  }
}

@keyframes windowOpen {
  0% {
    opacity: 0%;
    scale: 90%;
  }

  100% {
    opacity: 100%;
    scale: 100%;
  }
}

@media print {
  @layer base {
    * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
      user-select: all;
    }

    .fixed {
      position: static;
    }

    .absolute {
      position: static;
    }

    .bg-gradient-to-b {
      background: none;
    }
  }
}
